@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.LoginPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var viewModel = new FoodieSydney.Model.LoginViewModel();
}	
@{
    Html.RenderPartial("~/Views/Partials/LoginForm.cshtml", viewModel);
}

<div>
	<p><a href="">Forgot Password?</a></p>
</div>