@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
@{
    var site = Model.Content;

    if(site.Level > 1)
    {
        var temp = site.Parent;

        if (temp.Level > 1)
        {

        }
        else if (temp.Level == 1)
            site = temp;
    }

    var selection = site.Children.Where(x => x.IsVisible());
}
<ul>
    @foreach (var item in selection)
    {
        <li><a class="@(item.IsAncestorOrSelf(site) ? "active" : null)" href="@item.Url()">@item.Value("Header")</a></li>
    }
</ul>